* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}

.bg-black {
  background-color: #000;
}
